*,*:before,*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.wrap {
    position: relative;
    max-width: 1024px;
    margin:0 auto;
}

.wrap a {
    text-decoration: none;
}

/* layout */
/* 表頭區塊 */

.header {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
}

.header h1 a {
    display: block;
    width: 120px;
    height: 24px;
    background: url(../images/logo_w\(null\).svg) no-repeat;
    margin: 16px 42px;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width:320px) {
    .header h1 a {
        margin: 16px 20px;
    }
}

/* 表頭選單 */

.menu {
    display: flex;
    padding-right: 30px;
}

.showmenu {
    display: none;
    color: #fff;
    padding: 18px;
    transition:all 0.3s;
}

.showmenu:hover {
    color: orange;
}

.menu a {
    display: block;
    color: #fff;
    padding: 18px;
    transition:all 0.3s;
}

.menu li a:hover {
    background: #FAFAFA;
    color: #000;
}

@media (max-width:568px) {
    .showmenu {
        display: block;
    }

    .menu {
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.8s;
        position: absolute;
        z-index: 99;
        top: 57px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 1);
        border-top: 1px solid rgba(255, 255, 255, 0.35) ;
        flex-direction: column;
        padding: 0;
    }

    .menu li {
        width: 100%;
    }

    .menu a {
        text-align: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    }

    .menu-show .menu {
        max-height: 159px;
    }
}

/* 橫幅區塊 */

.banner {
    background: url(../images/header_desktop.png);
    background-position-x: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
}

.banner-content {
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    text-align: center;
    line-height: 1.5em;
	padding: 28px 42px;
}

.banner-content h2{
    font-size: 36px;
    line-height: 1.2;
    padding-bottom: 20px;
}

.banner-content p {
    font-size: 16px;
}

@media (max-width:568px) {
    .banner h2 span {
        display: block;
    }
}

/* 表尾區塊 */

.footer {
    background: #efe9e7;
    color: #3D1101;
    padding:43px 50px;
    display: flex;
    justify-content: space-between;
    line-height: 1.3
}

.footer .information, .footer .contact, .footer .logo {
    width: 31.33333%;
}

.footer h2 {
    font-size: 24px;
    padding-bottom: 16px;
}

.contact ul li {
    list-style: disc;
    margin-left: 24px;
}

.contact li a {
    color: #3D1101;
    transition: 0.3s ease;
}

.contact li a:hover {
    opacity: 0.6;
}

.footer .logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.logo .hex {
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
    width: 243px;
    height: 48px;
    background: url(../images/logo_l\(null\).svg) no-repeat;
    padding: 0;
}

.social {
    display: flex;
}

.social a {
    font-size: 36px;
    margin-left: 12px;
}

.social .google {
    color: #DB4437;
}

.social .tw {
    color: #41ABE1;
}

.social .fb {
    color: #3A5795;
}

@media (max-width:768px) {
    .footer {
        flex-direction: column;
        padding: 15px 5px 5px 5px;
    }

    .footer .information, .footer .contact, .footer .logo {
        width: 100%;
        padding: 15px 0;
    }

    .footer .logo {
        justify-content: flex-end;
    }
}

@media (max-width:568px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
}

/* layout結束 */

/* 首頁 */
/* 首頁 三欄特色 */

.main {
    color: #3D1101;
    background: #efe9e7;
    padding: 30px;
}

.main h2 {
    position: relative;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    padding-bottom: 31px;
}

.main h2:before,.main h2:after {
    content: "";
    position: absolute;
    top: 35%;
    background: #979797;
    width: 10%;
    height: 1px;
}

.main h2:before {
    left: 25%;
}

.main h2:after {
    right: 25%;
}

.main .item {
    display: flex;
    justify-content: space-between;
}

.item img {
    max-width: 75%;
    border-radius: 50%;
}

.item li {
    width: 31.3333%;
    margin:0 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item h3 {
    font-size: 18px;
    padding: 20px 0 11px 0;
}

.item p {
    line-height: 1.3;
}

@media (max-width:768px) {
    .item li {
        width: 30%;
    }

    .main h2:before {
        left: 20%;
    }
    
    .main h2:after {
        right: 20%;
    }
}

@media (max-width:568px) {
    .main h2:before {
        left: 15%;
    }
    
    .main h2:after {
        right: 15%;
    }

    .main .item {
        flex-direction: column;
        align-items: center;
    }

    .item img {
        max-width: 60%;
    }

    .item li {
        width: 80%;
        margin: 30px 1%;
    }
}

@media (max-width:320px) {
    .main h2:before {
        left: 0%;
    }

    .main h2:after {
        right: 0%;
    }
}

/* 首頁 主廚介紹區塊 */

.section {
    background: #3D1101;
    color: #EFE9E7;
    display: flex;
    justify-content: space-evenly;
}

.section img {
    width: 50%;
    object-fit: cover;
}

.article {
    width: 45%;
    padding: 50px 20px;
}

.article h2 {
    font-size: 20px;
    line-height: 32px;
}

.article p {
    line-height: 1.5;
}

@media (max-width:568px) {
    .section {
        flex-direction: column;
    }

    .section img {
        width: 100%;
    }

    .article {
        width: 100%;
        padding: 30px;
    }
}

/* 首頁 評論區塊 */

.cite {
    color: #3D1101;
    background: #efe9e7;
    padding: 50px 0;
}

.cite h2 {
    text-align: center;
    font-size: 24px;
    color: #3D1101;
    padding-bottom: 32px;
}

.cite ul {
    display: flex;
    justify-content: space-evenly;
    margin:0 2%;
}

.cite li {
    display: flex;
    width: 31.33333%;
}

.cite img {
    width: 67px;
    height: 67px;
    border-radius: 50%;
}

.cite-content {
    padding:0 10px;
}

.cite-content h3 {
    font-size: 18px;
    padding-bottom: 22px;
}

.cite-content p {
    line-height: 24px;
}

.cite .cite-content span {
    display: block;
    text-align: right;
	padding-top: 16px;
}

@media (max-width:768px) {
    .cite-content {
        margin-left: 5px;
    }
}

@media (max-width:568px) {
    .cite ul {
        flex-direction: column;
        margin: 0;
    }

    .cite li {
        width: 100%;
        padding: 15px;
    }

    .cite li:hover {
        background: rgba(230, 218, 215, 0.9);
    }
}

/* 首頁 訂位區塊 */

.position {
    background: #FAFAFA;
    color: #3D1101;
    padding: 50px 0;
}

.position h2 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 38px;
    line-height: 1.3;
}

.position .map-form {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}

.map-form img {
    max-width: 48%;
    object-fit: cover;
}

.position form {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.position label {
    font-size: 14px;
}

.position input {
    padding: 10px 15px;
    margin: 6px 0;
}

.position .select {
    display: flex;
}

.select label {
    padding: 6px 5px 0 0;
}

.select .no {
    margin-left: 40px;
}

.btn {
    text-align: end;
}

.btn .send {
    color: #fff;
    background: #F56C23;
}

.btn .send:hover {
    opacity: 0.8;
}

@media (max-width:768px) {
    .position .map-form {
        flex-direction: column;
        align-items: center;
    }
    
    .position form {
        width: 90%;
        padding: 0;
    }

    .map-form img {
        max-width: 90%;
        padding-bottom: 30px;
    }
}

/* 首頁結束 */


/* 登入頁面 */

.login {
    background: #fff6f6;
    color: #3D1101;
    padding: 50px 0;
}

.login-main h2, .login-main h3 {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
}

.login-main h3 {
    font-size: 20px;
    padding-bottom: 35px;
}

.login-main form {
    max-width: 300px;
    margin:0 auto;
    border-top: 3px solid #FF5E45;
    padding: 15px 21px;
    box-shadow: 2px 2px 4px 1px #b3b3b3;
}

.login-main form h4 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 16px;
    text-align: center;
}

.login-main .login-mail input, .login-main .login-password input {
    width: 100%;
    padding: 5px 0 5px 30px;
    margin-top: 3px;
}

.login-main .login-mail input {
    margin-bottom: 15px;
}

.login-mail, .login-password {
    position: relative;
}

.login-mail i, .login-password i {
    position: absolute;
    color: rgba(61,17,0,0.50);
    top: 40%;
    left: 4%;
}

.login-password i {
    top: 52%;
    left: 4%;
}

.login-main .forget {
    font-size: 14px;
    color: #FF5E45;
}

.login-main .forget:hover {
    color: #3D1101;
}

.login-btn {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.login-main .login-btn input, .login-main .login-btn a{
    color: #fff;
    border-radius: 3px;
    padding: 6px 40px;
    transition: 0.4s ease;
}

.login-main .login-btn input:hover, .login-main .login-btn a:hover {
    opacity: 0.6;
}

.login-btn .orange {
    background: #F56C23;
}

.login-btn .gray {
    background: rgba(0, 0, 0, 0.35);
}

/* 登入頁面結束 */

/* 註冊頁面 */

.register {
    background: #fff6f6;
    color: #3D1101;
    padding: 50px 0;
}

.register h2, .register h3 {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
}

.register h3 {
    font-size: 20px;
    padding-bottom: 35px;
}

.register form {
    max-width: 620px;
    margin:0 auto;
    border-top: 3px solid #FF5E45;
    padding: 15px;
    box-shadow: 2px 2px 4px 1px #b3b3b3;
}

.register form h4 {
    text-align: center;
    font-size: 18px;
    padding-bottom: 16px;
}

.register-main {
    display: flex;
    justify-content: space-between;
}

.register-main .rule, .register-main .register-form {
    width: 48%;
    margin: 0 1%;
}

.rule p {
    font-size: 14px;
    line-height: 1.3;
}

.rule span {
    font-size: 18px;
}

.register-mail input, .register-password input {
    width: 100%;
    padding: 5px 0 5px 30px;
    margin: 3px 0 15px 0;
}

.register-mail, .register-password {
    position: relative;
}

.register-mail i, .register-password i {
    position: absolute;
    color: rgba(61,17,0,0.50);
    top: 41%;
    left: 3%;
}

.register-password i {
    top: 23%;
}

.register-password .confirm {
    margin: 3px 0 0 0;
}

.register-form .account {
    font-size: 14px;
    color: #FF5E45;
}

.register-form .account:hover {
    color: #3D1101;
}

.register-btn {
    display: flex;
    justify-content: flex-end;
}

.register-form .orange {
    font-size: 14px;
    display: block;
    text-align: center;
    margin-top: 36px;
    padding: 7px 48px;
    background: #F56C23;
    color: #fff;
    border-radius: 3px;
    transition: 0.4s ease;
}

.register-btn .orange:hover {
    opacity: 0.7;
}

@media (max-width:320px) {
    .register-main {
        flex-direction: column;
    }

    .register-main .rule, .register-main .register-form {
        width: 100%;
    }

    .register-main .rule {
        padding-bottom: 15px;
    }

    .register-form .orange {
        width: 100%;
        margin: 15px auto 0 auto;
    }
}

/* 註冊頁面結束 */

/* 購物車頁面 */

.cart {
    background: #fff6f6;
    color: #3D1101;
    display: flex;
    padding: 40px 35px;
}

@media (max-width:768px) {
    .cart {
        flex-direction: column;
    }
}

/* 商品選單 */

.aside {
    width: 23%;
}

.aside i {
    font-size: 26px;
    padding-right: 15px;
}

.aside h2 {
    font-size: 20px;
    padding-bottom: 16px;
}

.aside a {
    display: block;
    color: #3D1101;
    padding: 15px 0 15px 5px;
    border-bottom: 1px solid #3D1101;
    transition: 0.3s ease;
}

.aside a:hover {
    background: #3D1101;
    color: #FAFAFA;
}

@media (max-width:768px) {
    .aside {
        width: 100%;
        text-align: center;
    }
    .aside ul {
        display: flex;
        flex-direction: column;
    }

    .aside a {
        font-size: 14px;
        border-bottom: 1px solid #3D1101;
    }
}

/* 商品區塊 */

.cart-container {
    width: 78%;
    padding-left: 2%;
}

.cart-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
}

/* 搜尋欄、購物車 */

.search {
    position: relative;
    width: 70%;
}

.search input {
    width: 90%;
    padding: 7px 0;
    border-radius: 0;
    border: 3px solid #3D1101;
    border-right: none;
    background: #fff6f6;
}

.search a {
    position: absolute;
    background: #3D1101;
    color: #fff6f6;
    padding: 6.5px;
    border: 3px solid #3D1101;
    transition: 0.3s ease;
}

.search a:hover {
    background: #a32c00;
}

.cart-list a {
    font-size: 18px;
    font-weight: bold;
    color: #3D1101;
    transition: 0.3s ease;
}

.cart-list a:hover {
    color: #a32c00;
}

.cart-list .pay {
    padding-right: 16px;
    border-right: 1px solid #3D1101;
}

.cart-list i {
    position: relative;
    padding-left: 16px;
    font-size: 25px;
}

.cart-list i span {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 12px;
    padding: 2px 4px;
    color: #fff;
    background: #FF5E45;
    border: 1px solid #fff6f6;
    border-radius: 50%;
}

@media (max-width:768px) {
    .cart-container {
        width: 100%;
        padding: 30px 0 0 0;
    }
}

@media (max-width:568px) {
    .search {
        width: 65%;
    }
}

@media (max-width:320px) {
    .cart-nav {
        flex-direction: column;
    }

    .search input {
        padding: 5px 0;
        border: 2px solid #3D1101;
        border-right: none;
    }

    .search {
        width: 100%;
        padding-bottom: 20px;
    }

    .search a {
        padding: 3.5px;
    }
}

/* 商品展示 */

.cart-item ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-item li {
    width: 32.3333%;
    position: relative;
    text-align: center;
    box-shadow: 2px 2px 4px 0 #979797;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.cart-item .like {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FFF;
    font-size: 23px;
}

.cart-item .far.fa-heart:hover {
    font-weight: bold;
}

.cart-item .far.fa-heart.fill {
    font-weight: bold;
}

.cart-item .hot-wrap {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    right: -5px;
}

.cart-item .hot-wrap .hot {
    position: relative;
    background: #F56C23;
    color: #fff;
    top: 18px;
    right: 10px;
    width: 150px;
    padding: 7px 5px;
    transform: rotate(45deg);
    box-shadow: 0 2px 4px #FF5E45;
}

.cart-item h2 {
    padding: 11px 0 5px 0;
    font-size: 20px;
}

.cart-item h3 {
    position: relative;
    font-size: 12px;
    padding-bottom: 50px;
}

.cart-item h3:before {
    content: "";
    position: absolute;
    top: 45%;
    left: 35%;
    background: #3D1101;
    width: 30%;
    height: 1px;
}

.cart-item p {
    font-size: 20px;
    padding-bottom: 30px;
}

.cart-item .join {
    display: block;
    width: 90%;
    margin:0 auto;
    padding: 4px 0;
    color: #FF5E45;
    border: 2px solid #FF5E45;
    border-radius: 3px;
    transition: 0.3s ease;
}

.cart-item .join:hover {
    color: #FAFAFA;
    background: #FF5E45;
}

.cart-item .join i {
    font-size: 15px;
    margin-right: 9px;
}

@media (max-width:568px) {
    .cart-item li {
        width: 45%;
    }
}

@media (max-width:320px) {
    .cart-item li {
        width: 100%;
    }
}

/* 購物車頁面結束 */